.git
.github
.cursor
.idea
.vscode
node_modules
vendor
bootstrap/cache/*
!bootstrap/cache/.gitignore
storage/*.key
storage/logs/*
!storage/logs/.gitignore
storage/framework/cache/*
!storage/framework/cache/.gitignore
storage/framework/sessions/*
!storage/framework/sessions/.gitignore
storage/framework/views/*
!storage/framework/views/.gitignore
storage/app/*
!storage/app/.gitignore
!storage/app/public
.env
.env.*
!.env.example
database/*.sqlite
.phpunit.result.cache
phpunit.xml
tests
*.md
!README.md
docker-compose.override.yml
